<footer class="main_footer">

  <div class="default_footer">

    <div class="find_us" id="telegram">
      <p>پیامرسان تلگرام</p>
      <i class="bi bi-telegram"></i>
    </div>

    <div class="find_us" id="instagram">
      <p>پیامرسان اینستاگرام</p>
      <i class="bi bi-instagram"></i>
    </div>

  </div>

  <div class="mobile_footer">

    <a href="index.html" class="footer_icon">
      <i class="bi bi-house-fill"></i>
      <p>خانه</p>
    </a>

    <div class="footer_icon">
      <i class="bi bi-search"></i>
      <p>جستجو</p>
    </div>

  </div>

</footer>