<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>

    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../Css/header.css">
    <link rel="stylesheet" href="../Css/footer.css">
    <link rel="stylesheet" href="../Css/list.css">

</head>
<body>
    
    <div id="header-container"></div>

    <h1 id="pageTitle"></h1>
    
    <div id="listContainer"></div>

    <button id="loadMoreBtn">
        نمایش بیشتر
    </button>

    <div id="footer-container"></div>

    <script src="../Js/auth.js"></script>
    <script src="../Js/search.js"></script>
    <script src="../Js/api.js"></script>
    <script src="../Js/list.js"></script>
    <script src="../Js/components.js"></script>

</body>
</html>